<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884277605531-ej4vs3nua16lalr4tab9a0j56rdgfgl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884277605531-ej4vs3nua16lalr4tab9a0j56rdgfgl2</string>
	<key>API_KEY</key>
	<string>AIzaSyBQXzKGMxr_Rstmvo7UnTIqLwpkDykrRsA</string>
	<key>GCM_SENDER_ID</key>
	<string>884277605531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDon0</string>
	<key>PROJECT_ID</key>
	<string>don-de-sang-d72fb</string>
	<key>STORAGE_BUCKET</key>
	<string>don-de-sang-d72fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884277605531:ios:3b0893adcb5b83c0d3c23e</string>
</dict>
</plist>